.form {
  background-image: linear-gradient(
      110deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      transparent 50%
    ),
    url("../../Image/geran.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 30em;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.custom-form{
width: 50%;

}
.form-contoral {
  margin-bottom: 20px;
  position: relative;
}
.form-contoral label,
.form-contoral input {
  display: block;
}
.form-contoral label {
  position: absolute;
  top: -20px;
  left: 0px;
  font-size: 13px;
color: gray;
font-weight: bold;
transition:0.3s;
}
.form-contoral input:placeholder-shown + label{
    opacity: 1;
    visibility: hidden;
    top: 20px;
   
    
}
.form-contoral input {
  padding: 20px;
  outline: none;
  border-radius: 3px;
  border: 0;
  background-color: white;
  width: 80%;
  border-bottom: 3px solid transparent;
  font-family: "lato", sans-serif;
  box-shadow: 0 0 10px rgb(145, 141, 141) inset;
}
.form-contoral input:focus:valid{
border-bottom: 3px solid green;
}
.form-contoral input:focus:not(:valid){
    border-bottom: 3px solid orangered;
}